# Machine Learning

In [56]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn import metrics
from sklearn.metrics import mean_squared_error

In [57]:
path = 'D:/Projects for my GitLab/kaggle_project/weatherHistory.csv'
data = pd.read_csv(path)
display(data.head())

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.

In [58]:
# To assign numerical values to categorize the filed of Daily Summary class:
# First, I separate Daily Summary column in a pandas data frame
dailySummarry_df = pd.DataFrame(data['Daily Summary'], columns=['Daily Summary'])
dailySummarry_df

                                Daily Summary
0           Partly cloudy throughout the day.
1           Partly cloudy throughout the day.
2           Partly cloudy throughout the day.
3           Partly cloudy throughout the day.
4           Partly cloudy throughout the day.
...                                       ...
96448  Partly cloudy starting in the morning.
96449  Partly cloudy starting in the morning.
96450  Partly cloudy starting in the morning.
96451  Partly cloudy starting in the morning.
96452  Partly cloudy starting in the morning.

[96453 rows x 1 columns]

In [59]:
# Second, creat an object and transform the variable into it assigned number to categorize
labelencoder = LabelEncoder()
dailySummarry_df['dailySummarry_types_cat'] = labelencoder.fit_transform(dailySummarry_df['Daily Summary'])
display(dailySummarry_df)

                                Daily Summary  dailySummarry_types_cat
0           Partly cloudy throughout the day.                      197
1           Partly cloudy throughout the day.                      197
2           Partly cloudy throughout the day.                      197
3           Partly cloudy throughout the day.                      197
4           Partly cloudy throughout the day.                      197
...                                       ...                      ...
96448  Partly cloudy starting in the morning.                      170
96449  Partly cloudy starting in the morning.                      170
96450  Partly cloudy starting in the morning.                      170
96451  Partly cloudy starting in the morning.                      170
96452  Partly cloudy starting in the morning.                      170

[96453 rows x 2 columns]

In [60]:
# To add a new column for numerical variable
data = data.join(dailySummarry_df['dailySummarry_types_cat'])
display(data)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,dailySummarry_types_cat
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.,197
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.,197
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.,197
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.,197
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,Partly cloudy starting in the morning.,170
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,Partly cloudy starting in the morning.,170
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,Partly cloudy starting in the morning.,170
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,Partly cloudy starting in the morning.,170
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,Partly cloudy starting in the morning.,170

In [61]:
# remove object columns
data.drop(['Daily Summary','Summary', 'Precip Type', 'Formatted Date', 'Loud Cover'], axis=1, inplace=True)
display(data)

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),dailySummarry_types_cat
0,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,197
1,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,197
2,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,197
3,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,197
4,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,197
...,...,...,...,...,...,...,...,...
96448,26.016667,26.016667,0.43,10.9963,31,16.1000,1014.36,170
96449,24.583333,24.583333,0.48,10.0947,20,15.5526,1015.16,170
96450,22.038889,22.038889,0.56,8.9838,30,16.1000,1015.66,170
96451,21.522222,21.522222,0.60,10.5294,20,16.1000,1015.95,170
96452,20.438889,20.438889,0.61,5.8765,39,15.5204,1016.16,170

In [62]:
# Manging missing values
data.fillna(method='ffill', inplace=True)

In [63]:
# Here we separate x and y which Daily Summary is our target to be predicted by weather parameters
x = data.drop(['dailySummarry_types_cat'], axis=1)
y = data['dailySummarry_types_cat']

# Separate test and training data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

# Classification using Decision Tree model

# with gini

In [64]:
# Set up the model using Gini Coefficient
model = DecisionTreeClassifier(criterion='gini', splitter='best', max_depth=15).fit(x_train,y_train)
y_pred = model.predict(x_test)

In [65]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("MSE: ", mean_squared_error(y_test, y_pred))
print("R2: ", model.score(x_test,y_test))

Accuracy: 0.2935443737904341
MSE:  3160.781828863699
R2:  0.2935443737904341

#  With Entropy

In [23]:
# To fit the mpdel using Entropy index to compare with Gini coefficient
model2 = DecisionTreeClassifier(criterion="entropy", max_depth=None).fit(x_train,y_train)
y_pred = model2.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.29551423831904894